# if you want to try the docker as your development env:
# Prerequisite if you want to run TF or CLI:
#     export IBMCLOUD_API_KEY=<YOURS>
#     export WORKDIR="/$(basename $(pwd))"
# Run:
#   docker-compose run tfworkspace
version: "3.3"
services:
  tfworkspace:
    privileged: true
    build:
      context: .
    image: dev-u20.04:latest
    volumes:
      # For future ssh use in development
      - ~/.ssh:/home/ubuntu/.ssh:ro
      - .:/tfworkspace
    environment:
      IBMCLOUD_API_KEY: "$IBMCLOUD_API_KEY"
    working_dir: /tfworkspace
